@font-face {
  font-family: futuramedium;
  src: url("../fonts/futura\ medium\ bt.ttf");
}
@font-face {
  font-family: futurabook;
  src: url("../fonts/Futura\ Book.ttf");
}
@font-face {
  font-family: futurameditalic;
  src: url("../fonts/Futura\ Medium\ Italic\ font.ttf");
}
.designTwo {
  margin-top: 200px;
  margin-bottom: 100px;
  /* background: yellow; */
  background-image: url("./images/Robo-1.gif");
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.designTwo-p {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-family: futurameditalic;
  font-size: 50px;

  /* padding-top: 20px; */
}
.designTwo-h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #ffc857;
  font-family: futuramedium;
  /* font-size: 180px; */
  letter-spacing: 3px;
  z-index: -1;
}
@media (min-width: 300px) {
  .designTwo {
    margin-left: 10px;
    margin-right: 10px;
  }
  .designTwo-p {
    padding-left: 50px;
    font-size: 40px;
  }
  .designTwo-h1 {
    font-size: 90px;
  }
}
@media (min-width: 600px) {
  .designTwo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .designTwo-p {
    padding-left: 80px;
    z-index: -1;
  }
  .designTwo-h1 {
    font-size: 130px;
  }
}
@media (min-width: 768px) {
  .designTwo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .designTwo-p {
    padding-left: 190px;
    z-index: -1;
  }
  .designTwo-h1 {
    /* font-size: 180px; */
  }
}

@media (min-width: 1024px) {
  .designTwo-p {
    padding-left: 29%;
    z-index: -1;
  }
}
@media (min-width: 1080px) {
  .designTwo-p {
    padding-left: 30%;
  }
  .designTwo-h1 {
    font-size: 250px;
  }
}
