@font-face {
  font-family: futuramedium;
  src: url("../fonts/futura\ medium\ bt.ttf");
}
.D-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}
.D-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 100px;
  margin-bottom: 10%;
  height: 800px;
}
.D-left {
  /* display: flex; */
  background-image: url("./images/Robo-1.gif");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  /* align-items: flex-end; */
  flex: 0.4;
  /* background: pink; */
}
.D-right {
  flex: 0.6;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.D-right h1 {
  color: #e3c257;
  text-transform: uppercase;
  font-size: 80px;
  font-family: futuramedium;
  justify-content: flex-start;
}
.D-right h3 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-family: futuramedium;
  text-align: flex-start;
}
@media (max-width: 300px) {
  .D-right h1 {
    font-size: 35px !important;
    justify-content: center;
    text-align: center;
  }
  .D-right h3 {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .D-container {
    flex-direction: column;
    margin: 20px;
  }
  .D-left {
    /* --------TODO---------- */
  }
  .D-right h1 {
    font-size: 40px !important;
    justify-content: center;
    text-align: center;
  }
  .D-right h3 {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .D-right h1 {
    font-size: 40px !important;
    justify-content: center;
    text-align: center;
  }
  .D-right h3 {
    font-size: 28px !important;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .D-container {
    flex-direction: column;
    margin: 20px;
  }
  .D-right h1 {
    font-size: 35px;
    /* justify-content: center; */
    text-align: center;
  }
  .D-right h3 {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .D-container {
    flex-direction: column;
    margin: 20px;
  }
  .D-right h1 {
    font-size: 65px;
    /* justify-content: center; */
    text-align: center;
  }
  .D-right h3 {
    font-size: 50px;
    text-align: center;
  }
}
@media screen and (min-device-width: 801px) and (max-device-width: 1026px) {
  .D-container {
    flex-direction: column;
    margin: 20px;
  }
} ;
