.NewDash {
  margin-top: 150px;
  margin-left: 75px;
  margin-right: 75px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.NewDash-Left {
  padding-top: 10px;
  flex: 0.4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.NewDash-Right {
  display: grid;
  padding-left: 20px;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  
}
.NewDash-img {
  margin: 15px;
  border-radius: 10px;
}
.NewDash-btn {
  background: #187e8a;
  border-radius: 10px;
  height: 3.6vw;
  text-align: center;
}

.color-text{
  color: #fff;
  font-size: 1.6vw;
}