/* .NewDash {
  margin-top: 150px;
  margin-left: 75px;
  margin-right: 75px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} */

/* NewDash 1 */
/* @media (min-width: 980px) {
  .NewDash-Left {
    padding-left: 10px;
    flex: 0.4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } */
/* .NewDash-Video {
    display: none;
  }
} */
/* .NewDash-Right {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
} */
/* .NewDash-img {
  margin: 15px;
  border-radius: 10px;
} */
/* .NewDash-btn { */
/* background: #187e8a;
  border-radius: 10px;
  height: 3.6vw; */
/* text-align: center; */
/* } */
/* .btn-new {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-new:hover {
  color: rgb(29, 28, 28);
}

.btn-icon {
  width: 40px;
  height: 40px;
}
.color-text {
  color: #fff;
  font-size: 1.6vw;
}
.dashcard {
  display: grid;
  grid-template-columns: auto auto;
  width: auto;
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(114, 114, 114, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
} */

/* @media (max-width: 980px) {
  .dashcard {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }

  .NewDash-text {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .NewDash-Right {
    display: none;
  }
  .NewDash-Video {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .dashcard {
    width: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }

  .NewDash-text {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .NewDash-Right {
    display: none;
  }
  .NewDash-Video {
    display: flex;
    justify-content: center;
  }
} */

/* NewDash 2 */
/* .NewDash2{
  padding: 10%;
  position: relative; */
/* z-index: -1; */
/* overflow: hidden; */
/* } */
/* .dashheader{ */
/* z-index: 1; */
/* background:rgb(255, 193, 7);
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  border-radius:8px ;
  width: 70%;
  color: #2b0505  ;
  justify-content: center; */
/* } */
/* .dashcard2{ */
/* position: absolute; */
/* z-index: 0;
  width: auto;
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(114, 114, 114, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
} */
/* .dashcard-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:repeat(7, 1fr);
  padding: 20px;
  line-height: 250%;
} */
/* .dashcard-list li{
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  list-style-type: none;
} */

/* TODO */
@font-face {
  font-family: futuramedium;
  src: url("../fonts/futura\ medium\ bt.ttf");
}
.dash-container {
  width: 100%;
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: white; */
  flex-direction: column;
  margin-bottom: 20%;
}
.dash-top {
  margin-bottom: -200px;
  width: 70%;
  background: pink;
  height: 300px;
  /* background: url("https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    no-repeat center / cover; */
  z-index: 1;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}
.dash-img {
  width: 100%;
  height: 100%;
}
.dash-bottom {
  width: 80%;
  /* background: violet; */
  height: 400px;
  border-radius: 20px;
  /* backdrop-filter: blur(4px) saturate(200%); */
  /* -webkit-backdrop-filter: blur(4px) saturate(200%); */
  background-color: rgba(114, 114, 114, 0.5);
  /* border-radius: 8px; */
  border: 4px solid rgba(255, 255, 255, 0.125);
}
.dash-bottom h1 {
  color: #ffc857;
  display: flex;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding-top: 210px;
  font-family: futuramedium;
  font-size: 40px;
}
.dash-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.dash-buttons button {
  color: white;
  text-decoration: none;
  font-family: futuramedium;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: rgba(114, 114, 114, 0.5);
}
.dash-buttons button:hover {
  background-color: #ffc857;
  color: #2d3436;
  border: 3px solid #2d3436;
}
@media screen and (max-width: 1000px) {
  .dash-top {
    margin-bottom: -180px;
  }
  .dash-bottom h1 {
    padding-top: 190px;
  }
  .dash-buttons {
    margin-top: 35px;
  }
}
@media screen and (max-width: 800px) {
  .dash-bottom h1 {
    padding-top: 170px;
    text-align: center;
    font-size: 30px;
  }
  .dash-buttons {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .dash-top {
    height: 300px;
    margin-bottom: -150px;
  }
  .dash-bottom h1 {
    padding-top: 155px;
    text-align: center;
    font-size: 24px;
  }
  .dash-buttons a {
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 10px;
  }
}
