/* .left {
  font-family: "Rampart One", cursive;
  background-color: white;
}
.dashpage__image {
  width: 200px;
  height: 250px;
  padding-bottom: 25px;
  margin: 8px;
}
.right-One {
  display: flex;
  flex-wrap: wrap;
  font-family: "Rampart One", cursive;
}
.dashpage_h3 {
  color: #fee362;
}
.right-One-text {
  margin-bottom: 30px !important;
}
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
.left_h1 {
  font-family: "Rampart One", cursive;
}
.shadow {
  padding-top: 30px;
}
.dashpage-text {
  padding-top: 20px;
  font-size: 32px;
}
.gap {
  padding: 5px;
}
.dashpage .left h1 {
  margin: 0;
  padding: 20px;
  font-size: 2.2rem;
  color: #fff;
  font-style: italic;
  text-transform: uppercase;
}
.left {
  width: 40%;
  padding: 20px;
  overflow: hidden;
}
hr {
  background-color: #fff;
}
.left table {
  width: 100%;
}
.left td {
  display: block;
}
.left p {
  font-size: 16px;
}
.left-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 12px;
}
.left-img-one {
  width: 110px !important;
  height: 110px !important;
}
.right {
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.column1,
.column2 {
  display: flex;
  flex-direction: column;
}
.column1 {
  margin-top: -20px;
  clip-path: inset(20px 0 110px 0);
}
.column2 {
  margin-top: -100px;
  clip-path: inset(80px 0 110px 0);
}
.left-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
.right-img {
  width: 450px;
  height: 400px;
  padding-top: 50px;
  padding-left: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  .dashpage__image {
    width: 140px;
    height: 180px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1250px) {
  .dashpage__image {
    width: 140px;
    height: 180px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 800px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .dashpage {
    display: flex;
    flex-direction: column;
  }
  .right-One-text {
    margin: 30px;
    overflow: hidden;
  }
  .column1 {
    margin-top: -20px;
    clip-path: inset(20px 0 154px 0);
  }
  .column2 {
    margin-top: -80px;
    clip-path: inset(80px 0 154px 0);
  }
}
@media screen and (max-width: 500px) {
  .right img {
    width: 50px;
    padding: 15px 10px;
    overflow: hidden;
  }
  .dashpage__image {
    width: 120px;
    height: 120px;
    padding-bottom: 40px;
  }
  .column1 {
    margin-top: 10px;
    clip-path: inset(0 0 140px 0);
  }
  .column2 {
    clip-path: inset(100px 0 151px 0);
  }
  .left {
    padding: 5px;
  }
} */

.dashpage{
    display: grid;
    height: 410px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 410px;
    grid-template-areas: "print-text print-img";
}

.print-text{
    grid-area: print-text;
    background: linear-gradient(#187f8acb, #187f8acb),url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.print-img{
    grid-area: print-img;
    color:white;
}

.img-slide{
    display: grid;
    grid-template-columns: 50% 50%;
}
/*  slide-d */

.slide-d {
    background: white;
    height: 190px;
    margin-left: -110px;
    margin-top: 110px;
    /* overflow: hidden; */
    /* position: relative; */
    width: 450px;
    /* border-radius: 6px;*/
}
.slide-d {
    
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  
  .slide-d .slide-track-d {
    animation: scroll 10s linear infinite;
    display: flex;
    width: 100px;
  }
  
  .slide-d .slide-track-d:hover {
    animation-play-state: paused;
  }
  
  .slide-d .slide-d-img {
    height: 100px;
    width: 100px;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
  .slide-d-img:nth-child(1),
  .slide-d-img:nth-child(10) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  
  .slide-d-img:nth-child(2),
  .slide-d-img:nth-child(11) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  
  .slide-d-img:nth-child(3),
  .slide-d-img:nth-child(12) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  
  .slide-d-img:nth-child(4),
  .slide-d-img:nth-child(13) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  .slide-d-img:nth-child(5),
  .slide-d-img:nth-child(14) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  .slide-d-img:nth-child(6),
  .slide-d-img:nth-child(15) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  .slide-d-img:nth-child(7),
  .slide-d-img:nth-child(16) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  .slide-d-img:nth-child(8),
  .slide-d-img:nth-child(17) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  .slide-d-img:nth-child(9),
  .slide-d-img:nth-child(18) {
    background: url("F:\React Projects\miss audio video\vaibhav-iconmedia-main\src\Components\images\3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 9));
    }
  }
  
  /* .slide-d .slide-track-d1 {
    animation: scroll 20s linear infinite;
    animation-direction: reverse;
    display: flex;
    width: calc(100px * 9);
  }
  
  .slide-d .slide-track-d1:hover {
    animation-play-state: paused;
  }
  .slide-d-reverse-position {
    color: rgb(255, 193, 7) !important;
    font-family: "futuramedium";
    font-size: 3.5rem !important;
    line-height: 4.1rem;
    position: relative;
    top: 250px !important;
  }
   */